
        <div style="margin-top:60px;margin-left: 210px;">
        <div class="breadcrub">
            当前位置：文章管理>添加分类
        </div>
            <div>
            <table class="common_table">
                <tr>
                    <th width="10%">id</th>
                    <th width="70%">1级分类</th>
                    <th width="20%">管理操作</th>
                </tr>

                {{range $i,$v:= .articleTypes}}

                    <tr>
                        <td>{{$i | ShowI}}</td>
                        <td>{{$v.TypeName}}</td>
                        <td><a href="/admin/deleteType?typeid={{$v.Id}}" class="edit">删除</a></td>
                    </tr>
                {{end}}

                <tr>
                    <td colspan="3">
                    <form action="addtype" class="form1">
                        <input type="text" class="type_txt" placeholder="增加1级分类" name="typeName1">
                        <input type="submit" class="addtype" value="增加1级分类">
                    </form>
                    </td>

                </tr>
            </table>
        </div>

<div style="height: 20px;"></div>
            <div>
                <table class="common_table">
                    <tr>
                        <th width="10%">id</th>
                        <th width="30%">2级分类</th>
                        <th width="40%">1级分类</th>
                        <th width="20%">管理操作</th>
                    </tr>
                    {{range $i,$v := .twoArticleTypes}}
                    <tr>
                        <td>{{ShowI $i}}</td>
                        <td>{{$v.TypeName}}</td>
                        <td>{{$v.ArticleType.TypeName}}</td>
                        <td><a href="/admin/deleteType?type2id={{$v.Id}}" class="edit">删除</a></td>
                    </tr>
                    {{end}}

                    <tr>
                        <td colspan="4">
                            <form  action="/admin/addtype">
                                <select name="typeName1">
                                    {{range .articleTypes}}
                                    <option>{{.TypeName}}</option>
                                    {{end}}
                                </select>
                                <input type="text" class="type_txt" placeholder="增加2级分类" name="typeName2">
                                <input type="submit" class="addtype" value="增加2级分类">
                            </form>
                        </td>

                    </tr>
                </table>
            </div>
    </div>
